.header{
    overflow: hidden;
    background-color: whitesmoke;
    padding: 0 2rem;
    padding-top: 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p{
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    /* line-height: 15px; */
    border-radius: 4px;
}
.header p.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(91, 91, 245);
}
.header p:hover{
    background-color: rgb(168, 211, 248);
    color: rgb(255, 254, 254);
}
.header p.active{
    background-color: rgb(44, 144, 231);
    color: rgb(255, 255, 255);
}
.header-right{
    float: right;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.inputField{
    width: 40%;
    height: 35px;
    border: none;
    font-size: 17px;
}
.Linkdeco{
    text-decoration: none;
  }

@media screen and (max-width: 950px) {
    .h1title{
font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .header{
        flex-wrap: wrap;
    }
    .header h1{
        font-size: 30px;
    }
    
    
    .about{
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .header{
        padding: 5px;
    }
    .inputField{
        width: 134px !important;
    }
    
}